.btn {
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid;
  border-radius: 25px;
  text-decoration: none;
  width: fit-content;
}

.btn-primary {
  background: #A8202D;
  color: #F5F5F5;
  border-color: #A8202D;
}

.btn-primary:hover {
  background: transparent;
  color: #A8202D;
}

.btn-secondary {
  background: transparent;
  color: #F5F5F5;
  border-color: #F5F5F5;
}

.btn-secondary:hover {
  background: #F5F5F5;
  color: #A8202D;
}

.btn .icon-arrow-right {
  margin: 0 0 -0.2rem 0.5rem;
}

.btn:hover .icon-arrow-right {
  filter: invert();
}

.btn-tertiary {
  background: transparent;
  color: #A8202D;
  border-color: #A8202D;
}

.btn-tertiary:hover {
  background: #A8202D;
  color: #F5F5F5;
}

.btn-tertiary .icon-arrow-right {
  filter: invert();
}

.btn-tertiary:hover .icon-arrow-right {
  filter: none;
}

.btn-login {
  background: #A8202D;
  color: #F5F5F5;
  border: 2px solid #A8202D;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
}

.btn-login:hover {
  background: transparent;
  color: #A8202D;
}